

/* Font Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 { 
  font-size: 20px !important;
  line-height: 0 !important;
 }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header-bg-img { 
  background-image: url("../images/header-bg.png");
  height: 96px; /*-10 for padding*/
  background-repeat: repeat-x;
  padding-top: 10px;
 }

 #logo {
  margin-top: 10px;
  width: 260px !important;
  height: 67px !important;
 }

#contact-button { 
  width: 120px !important;
  height: 40px !important;
  border: 2px solid #eee2c6;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  background-color: #003b65;
  }

 #contact-button a { 
    color: #fff;
    text-decoration: none;
  }

  #contact-button a:hover { 
    color: #959ca2;
    text-decoration: none;
  }

/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#nav { 
   margin-left: 0px !important;
 }

#nav-elems {
  width: 260px;
  background-color: #959ca2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 14px;

}

#nav-elems a {  
  background-color: #959ca2; 
  display: block; 
  text-decoration: none;
  color: #fff;
  text-indent: 10px;
}

#nav-elems a:hover {
  background-color: #003b65;
  display: block; 
  text-decoration: none;
 }

/* Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */

section { 
  display: block;
}

 #body-content {  
  font-size: 14px !important;
  text-align: justify;
  color: #003b65;
  margin-left: 0px !important;
 }

 #body-content a{ 
  color: #870038
 }

 .bigletter{
    font-size: 20px;
 }


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer { 
  text-align: center;
  font-size: 14px !important;
  color: #959ca2;
 }

footer span { 
  font-size: 12px !important;
  display: block;
 }


footer a { 
  color: #870038;
  text-decoration: none;
 }