

/* Font Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*h1 { 
  font-size: 20px !important;
  line-height: 0 !important;
  margin-bottom: 0 !important;
 }*/


/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#header-bg-img { 
  background-image: url("../images/header-bg.png");
  height: 96px; /*-10 for padding*/
  background-repeat: repeat-x;
  padding-top: 10px;
  }

 #logo { 
  margin-top: 9px;
  display: block;
  min-width: 260px;
  margin-left: 0px !important;
  background-image: url("../images/logo.png");
  width: 260px;
  height: 67px;
  }

#header-text { 
  font-size: 17px;
  font-weight: bold;
  margin: 60px 0 0  35px;
  color: #fff;
  font-family: 'Alegreya', serif;
  width: 225px;
  display: block;
  }

#contact { 
  width: 120px;
 }

#contact-button { 
  width: 100% !important;
  height: 40px;
  border: 2px solid #eee2c6;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  background-color: #003b65;
  margin-top: 18px;
  font-family: 'Alegreya', serif;
  }

 #contact-button a { 
    color: #fff;
    text-decoration: none;
  }

  #contact-button a:hover { 
    color: #959ca2;
    text-decoration: none;
  }

/* Nav
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav { 
  display: block;
  width: 260px;
}

#nav { 
   margin-left: 0px !important;
   min-width: 260px;
  }

#nav-elems {
  background-color: #576067;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 14px;
  font-family: 'Fjalla One', sans-serif;
  }

#nav-elems a {  
  background-color: #576067; 
  display: block; 
  text-decoration: none;
  color: #fff;
  text-indent: 10px;
  }

#nav-elems a:hover {
  background-color: #003b65;
  display: block; 
  text-decoration: none;
  }

#nav-elems-sub {
  background-color: #870038;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #fff;
  font-size: 14px;
  font-family: 'Fjalla One', sans-serif;
  }

#nav-elems-sub a {  
  background-color: #850037;
  display: block; 
  text-decoration: none;
  color: #fff;
  text-indent: 10px;
  }

#nav-elems-sub a:hover {
  background-color: #fff;
  color: #003b65;
  display: block; 
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #850037;
  }

/* Body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section { 
  display: block;
 }

 #body-content {  
  font-size: 14px !important;
  text-align: justify;
  color: #003b65;
  margin-left: 35px;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 20px;
}

 #body-content a{ 
  color: #870038
 }

 .bigletter{
    font-size: 20px;
 }


/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

footer { 
  text-align: center;
  font-size: 14px !important;
  color: #959ca2;
  font-family: 'Fjalla One', sans-serif;
 }

footer span { 
  font-size: 12px !important;
  display: block;
 }


footer a { 
  color: #870038;
  text-decoration: none;
 }